body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 14px;
  color: black;
  background-color: #ffffcc;
  margin: 20px;
}

p {
  line-height: 21px;
  padding-left: 16px;
  border: 1px rgb(230, 235, 160) solid;
}

img {
  border: 2px dashed #ccc;
}

input:focus , textarea:focus {

  background: #eee;
}

strong {
  font-style: italic;
  text-transform: uppercase;
}

li {
  color: #900;
  font-style: italic;
}

table {
  margin: 14px;
}

form {
  margin-left: 16px;
}

a,
a:link,
a:visited {
  text-decoration: underline;
}

a:link {
  color: blue;
}

a:hover {

  text-decoration: none;
  color: blue;
  background-color: yellow;  
}

a:visited {
  color: purple;
}

a:active {

  color: red;
}

.sub h2 {
  color: black;
  background-color: #fcff4d81;
  font-size: 1.5em;
  margin: 0;
  padding: 2px;
  padding-left: 14px;
}

#maintitle h1 {
  color: #ffffcc;
  background-color: #900;
  font-size: 2em;
  margin: 0;
  margin-bottom: 7px;
  padding: 4px;
  font-style: italic;
  text-align: center;
  letter-spacing: 0.25em;
  border-bottom: 0.5em #c00 solid;
  
  /* i
  is a simplification of: 
  border-bottom-style: solid;
  border-bottom-width: 0.5em;
  border-bottom-color: #c00;

  */ 

  /*  p {
    font: 14px/1.5 "Times New Roman", times, serif;
    padding: 30px 10px;
    border: 1px black solid;
    border-width: 1px 5px 5px 1px;
    border-color: red green blue yellow;
    margin: 10px 50px;
} */



}
