#navigation {
    position: absolute;
    top: 0;
    left: 0;
    float: left;
    width: 200px;
}

#navigation2 {

    position: absolute;
    top: 0;
    right: 0;
    float: right;
    width: 200px;
}

#content {
    margin: 0 200px;
}

#footer {
    clear: both;
    text-align: center;
}