body {
    font-family: Amino, 'Courier New', Courier, monospace;
    background-color: orange;
    font-size: 14px;
    color: navy;
}

p , ol, ul, form, table{
    font-size: 16px;
}

h1 {
    font-size: 2em;
    color: #001aff;
    text-align: center;
}

h2 {
    font-size: 1.5em;
}

a {

    text-decoration: none;
}

strong {
    font-style: italic;
    text-transform: uppercase;
}

.link {
    text-decoration: underline;
}